* {
    margin: 0;
    padding: 0;
    display: block;
}

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
}

.mobile {
    display: none;
}

h1, h2, h3 {
    color: #4A4A4A;
}

h1{
    font-size: 3rem;
    font-weight: 700;
}

h2 {
    font-size: 1.6rem;
    font-weight: 500;
}

h3 {
    font-size: 1.4rem;
    font-weight: 300;
}

main {
    position: relative;
    top: 3rem;
}

.left {
    max-width: 60%;
}

.right {
    max-width: 40%;
}

/* header */

.desktop {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header {
    top: 0;
    background-color: #fff;
    padding-left: 24px;
    padding-right: 24px;
    min-height: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
}

#logo {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    font-size: 2rem;
    margin: auto 0;
    text-transform: uppercase;
}

.clear-grey {
    color: #9B9B9B;
    font-weight: 300;
}

.dark-grey {
    font-weight: 500;
    color: #4A4A4A;
} 

ul {
    display: flex;
    justify-content: space-around;
    margin-right: 2rem;
    margin-top: 1.2rem;
}

ul li {
    list-style-type: none;
    margin-right: 16px;
}

ul li a {
    text-decoration: none;
    color: #4A4A4A;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.5rem;
}


/* BANNER */

#banner {
    display: flex;
    background-color: #D8D8D8;
    justify-content: space-between;
}

.banner {
    box-sizing: content-box;
    width: 60%;
    margin: 32px 12px 32px 24px;
}

.banner img {
    width: 100%;
    overflow: hidden;
    padding-right: 0.8rem;
}

.side-banner {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%;
    margin: 64px 12px;
    padding: 4rem 1.5rem;
}

button {
    border: none;
    margin: 0 auto;
    padding: 0.5rem 7rem;
    background-color: #4A4A4A;
}

button a {
    text-decoration: none;
    color:#fff;
    font-size: 1.2rem;
}















@media only screen and (max-width: 800px) {
    .desktop {
      display: none;
    }

}   
